.dtale_header1,
.nav_icon {
    position: relative
}
body,
html,
ul {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box
}
html {
    overflow-x: hidden
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.otf)
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf)
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf)
}
@font-face {
    font-family: Montserrat-Light_0;
    src: url(../fonts/Montserrat-Light_0.otf)
}


.about_us_hdr_text{
    padding-top: 222px;
    padding-right: 138px;
    padding-left: 138px;
}
.about_us_hdr_text h2{
    font-size: 4.5rem;
    font-weight: normal;
    color:#333333;
    font-family: VisbyCF-Bold;
    margin:0;
}
.about_us_hdr_text p{
    font-family: VisbyCF-Medium;
    font-weight: normal;
    color:#333333;
    font-size: 1.875rem;
    line-height: 1.6;
    margin-top: 50px;
    margin-right: 150px;
}
/* ---- .grid-item ---- */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid {
    background: #ffffff;
}
.grid-sizer,
.grid-item {
    width: 476px;
    margin:25px;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.image_grid_container{
    width:1580px;
    margin:0 auto;
}
.grid-item{
    border-radius: 5px;
    /*transition: all .3s cubic-bezier(.25, .8, .25, 1);*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);*/
}
.grid-item img:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, .11), 0 10px 10px rgba(0, 0, 0, .11);

}
.category_name{
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #4c4c4c;
    padding-left: 5px;
    text-transform: capitalize;
    /* font-family: VisbyCF-Medium; */
    /* font-family: VisbyCF-Thin; */
    font-family: VisbyCF-Regular;
    letter-spacing: 0.08em;
    font-size: 1rem;
}
.detail-image {
    width: 140px
}
.container {
    visibility: hidden
}
a {
    text-decoration: none;
    color: inherit
}
li {
    list-style-type: none
}
.nav_icon1 {
    color: #fff
}
.hdr_bgnd {
    background-color: #000;
    height: 108px
}
.cmpny_content-para1 {
    font-size: 4.563rem;
    color: #fff;
    text-align: center;
    margin: 0
}
.cmpny_content-para2 {
    font-size: 11.938rem;
    color: #fff;
    text-align: center;
    margin: 0
}
.cmpny_content-para3 {
    font-size: 4.563rem;
    color: #fff;
    text-align: center;
    margin: 0
}
.opencolor {
    background: #fff!important
}
.list {
    float: left;
    margin-left: 48px;
    margin-top: 16px;
    font-family: Montserrat-SemiBold;
    color: #4c4c4c;
    font-size: .75rem;
    letter-spacing: 1.2px
}
.list:active,
.list:hover {
    color: #666
}
.nav_icon {
    float: right;
    z-index: 99999
}
.linkedin1 {
    color: #ccc
}
.clearfix {
    clear: both
}
.para1,
.para2,
.para3 {
    margin: 0
}
.header1 {
    background-image: url(../images/bgnd.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh
}
.para_common {
    text-align: center;
    color: #9e9d9c;
    font-size: .9rem;
    font-family: Montserrat-Bold;
    padding-top: 150px;
    padding-bottom: 50px;
    letter-spacing: 2.2px
}
.designation,
.team-member-name {
    font-family: Montserrat-Light_0
}
.work2,
.work4 {
    padding-top: 100px
}
.dtale_recent_work {
    color: #4c4c4c
}
.team_header {
    text-align: center
}
.team-member-name {
    color: #4f5362
}
.designation {
    color: #a8acb9
}
.para1_common {
    width: 50%;
    margin-top: 6px;
    font-family: Montserrat-Bold;
    font-size: 2.125rem
}
.para2_common {
    width: 50%;
    margin-top: 30px;
    font-family: Montserrat-Regular;
    font-size: .813rem;
    line-height: 20px
}
.work2_div1 {
    width: 35%;
    float: left
}
.para1_common1 {
    width: 100%;
    margin-top: 6px;
    font-family: Montserrat-Bold;
    font-size: 2.125rem;
    text-align: right
}
.para2_common1 {
    width: 50%;
    margin-top: 30px;
    font-family: Montserrat-Regular;
    font-size: .813rem;
    text-align: right;
    margin-left: 30%;
    line-height: 20px
}
.line1,
.line2,
.team_header {
    font-family: Montserrat-Bold
}
.image1 {
    margin-top: 80px;
    margin-left: 60%
}
.work4_div2 {
    width: 50%;
    float: left
}
.button1 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.overlay_menu {
    display: none;
    width: 100%
}
.logo img {
    width: 100%
}
.about-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 40px
}
.freebieslist,
.services,
.testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 40px;
    text-align: center
}
.team_header {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 100px
}
.services1,
.testimonial1 {
    width: 33.3%
}
.line1,
.line2 {
    color: #4c4c4c;
    font-size: 1.125rem;
    margin: 0
}
.services-para p {
    color: #666;
    font-size: 1rem!important;
    font-family: Montserrat-Regular;
    margin: 2px;
    line-height: 21px
}
.testimonial-name {
    color: #4f5362;
    font-family: Montserrat-Light_0;
    font-size: 1rem
}
.testimonial-dsgn {
    color: #a8acb9;
    font-family: Montserrat-Light_0;
    font-size: .769em
}
.heading {
    margin-top: 28px;
    margin-bottom: 28px
}
.team-member-image img {
    width: auto;
    object-fit: contain
}
.team-member {
    width: 25%;
    text-align: center
}
.slick-initialized .slick-slide {
    display: block;
    outline: 0
}
.dtale_content {
    font-size: 8.3rem
}
@media (max-width: 424px) {
    .category_name {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        font-size: 0.75rem !important;
    }
    .budget,
    .common_div,
    .email,
    .mobile,
    .name,
    .para1_common,
    .service,
    .work1_div2 {
        width: 100%
    }
    .dtale_recent_work {
        padding: 0 20px 20px
    }
    .para2_common {
        width: 100%;
        margin-top: 0
    }
    .para1_common {
        font-size: 1.125rem
    }
    .dtale_recent_work .image,
    .dtale_recent_work .image1 {
        margin-top: 0;
        margin-left: 0;
        width: 37px;
        float: left
    }
    .testimonials {
        padding: 0 24px
    }
    .cmpny_details {
        width: 100%
    }
    .dtale_content {
        padding: 29px 24px 24px;
        font-size: 2.5rem
    }
    .team_header {
        font-size: 1.4rem;
        margin-bottom: 50px
    }
    .work2_div1 .para1_common1 {
        top: auto;
        float: none
    }
    .work4_div1 {
        width: 100%;
        float: left;
        margin-top: 60%
    }
    .team-member-name {
        font-size: .8rem
    }
    .work4_div2 {
        width: 100%;
        float: none;
        height: 200px
    }
    .designation {
        font-size: .75rem
    }
    .linkedin1 {
        margin-top: 10px
    }
    .work4 .para1_common1 {
        width: 78%
    }
    .work4 .para2_common1 {
        width: 100%;
        margin-top: 0
    }
    .heading,
    .heading h2 {
        width: auto;
        display: inline
    }
    .services_image {
        float: left;
        margin-right: 20px
    }
    .work4 {
        padding-top: 50px
    }
    .services {
        padding: 0 10px
    }
    .heading {
        position: relative;
        height: auto;
        margin: 0;
        padding: 0
    }
    .about-team,
    .freebieslist {
        padding: 0 20px
    }
    .services-para {
        margin-left: 100px
    }
    .services-para p {
        display: inline;
        font-size: .7rem!important;
        margin: 0;
        line-height: 18px
    }
    .heading h2 {
        font-size: 11px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        letter-spacing: 0
    }
    .services_image img {
        width: 80px;
        height: 60px
    }
    .para_common {
        font-size: .8rem;
        padding-top: 60px;
        padding-bottom: 20px
    }
    .team-member {
        text-align: center;
        width: 50%
    }
    .services1 {
        width: 100%;
        margin-bottom: 20px;
        text-align: left
    }
    #fimage {
        width: 66%;
        margin-left: 6%;
        margin-top: 26%
    }
    .cmpny_details {
        padding-left: 29px;
        padding-right: 31px;
        box-sizing: border-box
    }
    .l1 {
        margin-left: 0
    }
    .para1_common1 {
        text-align: left;
        font-size: 1.125rem
    }
    .future {
        padding-bottom: 0
    }
    .work2_div1 {
        width: 100%;
        float: left;
        display: block;
        margin-top: 95%
    }
    .work2_div2 {
        background-position: 50% 50%;
        width: 100%;
        height: 300px;
        display: block;
        float: none
    }
    .work2 {
        padding-top: 50px
    }
    .para2_common1 {
        width: 100%;
        margin-top: 0;
        text-align: left;
        margin-left: 0;
        line-height: 20px
    }
    .work3_div2 {
        width: 100%
    }
    .slick-dots li {
        margin: 0 3px!important
    }
    .about_us_hdr_text,.inspire_container{
           width:90%;
           margin:0 auto;
           padding:0;
           padding-top: 75px;
       }
    .about_us_hdr_text h2{
        font-size: 2rem;
    }
    .about_us_hdr_text p{
        font-size: 0.875rem;
        margin-right: 0;
    }
    .image_grid_container{
        width:80%;
    }
    .grid-sizer, .grid-item {
     width: calc(50% - 12px);
     margin: 6px;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .budget,
    .common_div,
    .email,
    .mobile,
    .name,
    .service {
        width: 100%;
        float: left
    }
    .services1 {
        text-align: left
    }
    .services-para {
        margin-left: 100px
    }
    .writing_para1 {
        font-size: 2.25rem
    }
    .writing_para2 {
        font-size: 1rem;
        color: #4c4c4c;
        line-height: 22px
    }
    .services-para p {
        display: inline;
        font-size: .75rem!important;
        margin: 0;
        line-height: 18px
    }
    .services_image {
        float: left;
        margin-right: 20px
    }
    .heading,
    .heading h2 {
        display: inline;
        margin: 0;
        padding: 0
    }
    .heading h2 {
        width: auto;
        font-size: .875rem;
        letter-spacing: 0
    }
    .services_image img {
        width: 80px;
        height: 60px
    }
    .heading {
        width: auto;
        position: relative;
        height: auto
    }
    .cmpny_details {
        width: 100%
    }
    .dtale_content {
        font-size: 3.5rem
    }
    .nav_icon {
        margin-top: 6px
    }
    .dtale_header {
        padding: 40px 30px 0
    }
    .team_header {
        font-size: 2rem;
        margin-bottom: 50px
    }
    .para_common {
        padding-top: 75px;
        padding-bottom: 25px
    }
    .navbar {
        display: none
    }
    .logo img {
        width: 60%
    }
    .team-member {
        text-align: center;
        width: 50%
    }
    .services1 {
        width: 100%;
        margin-bottom: 20px
    }
    cmpny_details {
        padding-left: 29px;
        padding-right: 31px;
        box-sizing: border-box
    }
    .l1 {
        margin-left: 40px
    }
   
}
@media (min-width: 425px) and (max-width: 599px) {
    .para2_common {
        width: 100%;
        margin-top: 0
    }
    .para1_common {
        width: 100%;
        font-size: 1.125rem
    }
    .work1_div2 {
        width: 100%
    }
    .work2 {
        padding-top: 50px
    }
    .work1_div1,
    .work2_div2,
    .work3_div1 {
        background-position: 50% 50%;
        width: 100%;
        height: 300px
    }
    .dtale_recent_work .image,
    .dtale_recent_work .image1 {
        margin-top: 0;
        margin-left: 0;
        width: 37px;
        float: left
    }
    .work2_div1 {
        width: 100%;
        float: left;
        display: block;
        margin-top: 95%
    }
    .work2_div1 .para1_common1 {
        top: auto;
        float: none
    }
    .para1_common1 {
        text-align: left;
        font-size: 1.125rem
    }
    .para2_common1 {
        width: 100%;
        margin-top: 0;
        text-align: left;
        margin-left: 0;
        line-height: 20px
    }
    .work2_div2 {
        background-position: 50% 50%;
        width: 100%;
        height: 300px;
        display: block;
        float: none
    }
    .work3_div2 {
        width: 100%
    }
    .work4_div1 {
        width: 100%;
        float: left;
        margin-top: 60%
    }
    .work4 .para1_common1 {
        width: 78%;
        float: none
    }
    .work4 .para2_common1 {
        width: 100%;
        margin-top: 0
    }
    .work4_div2 {
        width: 100%;
        float: none;
        height: 200px
    }
    .future .para1_common1 {
        text-align: center;
        font-size: 1.125rem
    }
    .future {
        padding-bottom: 0
    }
    .about_us_hdr_text,.inspire_container{
        width:90%;
        margin:0 auto;
        padding:0;
        padding-top: 75px;
    }
    .about_us_hdr_text h2{
        font-size: 2.5rem;
    }
    .about_us_hdr_text p{
        font-size: 1.125rem;
        margin-right: 0;
    }
    .image_grid_container{
        width:382px;
    }
 .grid-sizer, .grid-item {
     width: 178px;
     margin: 6px;
 }
}
@media (min-width: 600px) and (max-width: 767px) {
    .image {
        width: 73px;
        margin-top: 63px;
        margin-left: -16px
    }
    .para1_common {
        width: 100%;
        margin-top: 6px;
        margin-bottom: 10px;
        font-size: 1.5rem
    }
    .para2_common {
        width: 100%;
        margin-top: 10px;
        font-size: .713rem;
        line-height: 15px
    }
    .para2_common1 {
        width: 100%;
        margin-top: 15px;
        font-size: .813rem;
        margin-left: 0;
        line-height: 20px
    }
    .work2_div2 {
        background-position: 73% 44%;
        width: 65%
    }
    .image1 {
        width: 73px;
        margin-top: 50px;
        margin-left: 60%
    }
    .work2,
    .work3,
    .work4 {
        padding-top: 0
    }
    .para1_common1 {
        font-size: 1.5rem;
        margin-left: -22px
    }
    .work4_div1 .image1 {
        margin-top: 0
    }
    .work4_div2 {
        height: 54vh;
        background-position: 57% 28%
    }
    .about_us_hdr_text,.inspire_container{
        width:90%;
        margin:0 auto;
        padding:0;
        padding-top: 70px;
    }
    .about_us_hdr_text h2{
        font-size: 2.5rem;
    }
    .about_us_hdr_text p{
        font-size: 1.125rem;
        margin-right: 0;
    }
    .image_grid_container{
        width:540px;
    }
 .grid-sizer, .grid-item {
     width: 240px;
     margin: 15px;
 }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .about_us_hdr_text,.inspire_container{
        width:90%;
        margin:0 auto;
        padding:0;
        padding-top: 150px;
    }

    .clients {
        width: 100%
    }
    .img_container {
        width: 33.3%
    }
    .dtale_content {
        font-size: 4.3rem
    }
    .header1 {
        background-size: cover;
        background-position: 50% 5%
    }
    .logo img {
        width: 70%
    }
    .team-member {
        width: 25%;
        text-align: center
    }
    .services1 {
        margin-bottom: 20px
    }
    .cmpny_details {
        padding-left: 29px;
        padding-right: 31px;
        box-sizing: border-box
    }
    .para_common {
        padding-top: 90px;
        padding-bottom: 30px
    }
    .line1,
    .line2 {
        color: #4c4c4c;
        font-size: 1rem;
        font-family: Montserrat-Bold;
        margin: 0
    }
    .team_header {
        font-size: 2rem;
        margin-bottom: 50px
    }
    .services-para p {
        font-size: .8rem!important;
        line-height: 16px
    }
    .para1_common,
    .para2_common {
        width: 100%
    }
    .para1_common1 {
        font-size: 1.75rem
    }
    .para2_common1 {
        width: 100%;
        margin-top: 20px;
        padding-left: 7%;
        margin-left: 0;
        box-sizing: border-box
    }
    .image1 {
        margin-top: 0
    }
    .about_us_hdr_text h2{
        font-size: 3rem;
    }
    .about_us_hdr_text p{
        font-size: 1.25rem;
    }
    .image_grid_container{
        width:690px;
    }
 .grid-sizer, .grid-item {
     width: 210px;
     margin: 10px;
 }
}
@media screen and (min-width: 1024px) and (max-width: 1361px) {
    .dtale_content {
        font-size: 5.3rem
    }
    .logo img {
        width: 65%
    }
    .image,
    .image1 {
        width: 80px
    }
    .para2_common1 {
        width: 93%;
        text-align: right;
        margin-right: 7%;
        margin-left: 0
    }
    .image1 {
        margin-top: 50px;
        margin-left: 71%
    }
    .para2_common {
        width: 69%
    }
    .work4_div2 {
        height: 64vh
    }
    .cmpny_details {
        padding-left: 106px;
        padding-right: 106px
    }
    .writing_para1 {
        font-size: 3.25rem
    }
    .about_us_hdr_text h2{
        font-size: 3rem;
    }
    .about_us_hdr_text p{
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header1 {
        height: 618px
    }
    .about_us_hdr_text,.inspire_container {
        padding-top: 150px;
        padding-right: 35px;
        padding-left: 35px
    }
    .about_us_hdr_text h2{
        font-size: 3.5rem;
    }
    .about_us_hdr_text p{
        font-size: 1.5rem;
    }
    .image_grid_container{
        width:950px;
    }
 .grid-sizer, .grid-item {
     width: 286px;
     margin: 15px;
 }
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {
    .dtale_content {
        font-size: 5.3rem
    }
    .about_us_hdr_text ,.inspire_container{
        padding-top: 120px;
        padding-right: 60px;
        padding-left: 60px
    }
    .about_us_hdr_text h2{
        font-size: 3.5rem;
    }
    .about_us_hdr_text p{
        font-size: 1.5rem;
    }
    .image_grid_container{
        width:1166px;
    }
 .grid-sizer, .grid-item {
     width: 340px;
     margin: 24px;
 }
}
@media (min-width: 1366px) and (max-width: 1439px) {
    .header1 {
        height: 638px
    }
    .list {
        float: left;
        margin-left: 40px
    }
    .about_us_hdr_text h2{
        font-size: 3.5rem;
    }
    .about_us_hdr_text p{
        font-size: 1.5rem;
    }

    .image_grid_container{
           width:1166px;
       }
    .grid-sizer, .grid-item {
        width: 340px;
        margin: 24px;
    }

}
@media (min-width: 1400px) and (max-width: 1599px) {
    .header1 {
        height: 700px
    }
    .about_us_hdr_text ,.inspire_container{
        padding-top: 150px;
        padding-right: 100px;
        padding-left: 100px
    }
    .about_us_hdr_text h2{
        font-size: 3.5rem;
    }
    .about_us_hdr_text p{
font-size: 1.5rem;
    }
    .image_grid_container{
        width:1240px;
    }
    .grid-sizer, .grid-item {
        width: 362px;
        margin: 25px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
    .header1 {
        height: 770px
    }
     .about_us_hdr_text{
        width:90%;
        margin:0 auto;
        padding:0;
        padding-top: 150px;
    }
    .inspire_container{
        width:90%;
        margin:0 auto;
        padding:0;
        padding-top: 75px;
    }
    .about_us_hdr_text h2{
        font-size: 3.5rem;
    }
    .about_us_hdr_text p{
        font-size: 1.5rem;
        margin-right: 0;
    }
.image_grid_container{
width:1328px;
}
    .grid-sizer, .grid-item {
        width: 390px;
        margin: 25px;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1439px) {
    .dtale_content {
        font-size: 5.3rem
    }
    .about_us_hdr_text ,.inspire_container{
          padding-top: 150px;
          padding-right: 60px;
          padding-left: 60px
      }

}
@media (max-width:1024px){
    .category_name {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.875rem;
    }
    .inspire_container{
        padding-left:0 !Important;
        padding-right:0 !Important;
    }
}