/*coded by Gokul on 11 jan 2017*/
html,body{
    margin: 0;
    padding:0;
    height: 100%;
    width:100%;
    font-family: 'Source Sans Pro',Open Sans;
}

h1,h2,h3,h4,h5,p{
    font-weight: inherit;
    margin: 0;
    line-height: 1.2;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
ul{
    padding: 0;
    list-style-type: none;
}
#menu-button{
    background: #005fea;
    width: 50px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all linear .3s;
    padding: 4px;
    z-index: 1;
}
.form_center{
    width:400px;
    margin: 0 auto;
}
.recuritment_hdr{
    padding-left: 30px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 120px;
}
#menu-button.active{
    background: #005fea;
}
.text_indent_0{
    text-indent: 0 !important;
}
#line-1,#line-2,#line-3{
    width: 90%;
    background: #fff;
    height: 3px;
    margin: 4px auto;
    border-radius: 2px;
    transition: all linear .3s;
}

#line-1.active{
    -webkit-transform: translate(0px,3px) rotate(45deg);
    transform: translate(0px,3px) rotate(45deg);
}

#line-2.active{
    opacity: 0;
}

#line-3.active{
    -webkit-transform: translate(0px, -12px) rotate(-45deg);
    transform: translate(0px, -12px) rotate(-45deg);
}


#menu ul{
    list-style: none;
}

#menu ul li{
    margin: 8px 0;
}

.scroll-link {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    height: 68px;
    width: 25px
}
.nav_bar{
    width:1100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    display: -ms-flex;
    display:-webkit-flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    max-width: 200px;
    display: inline-block;
}
.nav_bar ul{
    font-size: 0.875rem;
    color: #261744;
    display: flex;

}
.nav_bar ul li{
    line-height: 1.2;

    padding: 0 15px;
    font-size: 1rem;
    font-weight: 400;
}
.nav_bar ul li a:hover{
    color:#005fea;
    border-bottom: 1px solid #005fea;
}
.bgnd-color{
    background:#005fea !important;
    border:none !important;
    color:#ffffff !important;
}
.social-icon {
    display: block;
    float: left;
    margin: 0;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 38px!important;
    color: #777;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.social-icon:last-child {
    margin-right: 0;
}
.active_menu{
    color:#005fea;
}
.section1{
    position: relative;

}
.hero_section{
    background: url("images/talentkraft_cover_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hero_section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.85);
}
.team_member_name{
    padding-top: 40px;
    text-align: center;
    color: #261744;
    padding: 20px 0;
    font-size: 1.5rem
}
header{
    position:relative;
    z-index: 1;
}
.contact_form input{
    display: block;
}
.social_media_icons{
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin: 0 auto;
    align-items: baseline;
}
.section1,.section3,.section5_content{
    width:960px;
    display: table;
    margin: 0 auto;
}
.footer_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.footer_content .socials-icons ul{
    display: flex;
}
.footer_content .socials-icons ul li{
  margin-left: 10px;
}
.section1{
    width:800px;
}
.image_container img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.section1_content{
    width: 800px;
    margin: 0 auto;
    height: 74vh;
    vertical-align: middle;
    display: table-cell;
    align-items: center;
    /* padding-top: 290px; */
    /* padding-bottom: 340px; */
}
.section1_header1{
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: #261744;
    letter-spacing: -0.03em;
    text-align: center;
    padding-bottom: 100px;
}
.section1_header2{
    font-size: 0.875rem;
    border-color: #261744;
    /* letter-spacing: -0.03em; */
    line-height: 1.7;
    text-align: center;
    width: 530px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: lighter;
}
.section2{
    padding-top: 100px;
    padding-bottom: 120px;
    /* background: #005fea; */
    background: -moz-linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    background: -webkit-linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    background: linear-gradient(to right, #005fea 0%,#01c1fb 100%);
}
.section2_content{
    width: 960px;
    margin: 0 auto;
}
.icon_container img{
    width: 30px;
    height: auto;
}
.section2_content ul{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section2_content ul li{
    width:50%;
    padding:0 30px;
    display: flex;
}
.section2_header1{
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
}
.icon_container{
    font-size: 1.25rem;
    color:#ffffff;
}
.section2_para1{
    padding-left:30px;
    font-size:1.2rem;
    color:#ffffff;
}
.section2_header1{
    text-align: center;
    color:#ffffff;
}
.button{
    font-size: 1.5rem;
    color: #ffffff;
    height: 51px;
    width: 335px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 51px;
    border: 2px solid #ffffff;
}
.button a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.section2_content ul li{
    margin-top: 50px;
}
.section2_header2{
    font-size: 1.3125rem;
    color:#ffffff;
    margin-top: 75px;
    margin-bottom: 25px;
    text-align: center;
}
.down_arrow i{
    font-size: 2rem;
    text-align: center;
    color:#ffffff;
    margin: 0 auto;
    display: block;
}
.section3_content ul{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.section3_content ul li{
    width:50%;
    padding:0 30px;
    display: flex;
}
.section3_content ul li{
    margin-top: 50px;
}
.icon_container1{
    font-size: 1.25rem;
    color: #261744;
}
.section3_para1{
    padding-left:30px;
    font-size:1.2rem;
    color: #261744;
}
.section3 {
    padding-top: 100px;
    padding-bottom: 120px;
}

.section3_hdr1{
    text-align: center;
    font-size: 2.25rem;
    color: #261744;
}
.color_white{
    color:#ffffff;
}
.section4{

    padding-top: 100px;
    padding-bottom: 120px;
}
.section4_content{
    width: 800px;
    margin: 0 auto;
}
.section4_content_img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    object-fit: cover;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.section4_content_hdr1{
    padding-top: 40px;
    text-align: center;
    color: #261744;
    padding: 20px 0;
    font-size: 1rem;
}
.section4_hdr1 {
    text-align: center;
    font-size: 2.25rem;
    color:#261744;
}
.section5{
    padding-top: 100px;
    padding-bottom: 120px;
    background: -moz-linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    background: -webkit-linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    background: linear-gradient(to right, #005fea 0%,#01c1fb 100%);
}
.section5_content ul{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.section5_content ul li{
    width: 50%;
    padding:0 30px;
    display: flex;
}
.section5_content ul li{
    margin-top: 50px;
}
.team_container{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team_member1{
    width: 50%;
    padding: 20px;
}
.icon_container2{
    font-size: 1.25rem;
    color: #ffffff;
}
.section5_para1{
    padding-left:30px;
    font-size:1.2rem;
    color: #ffffff;
}
.section5_hdr1{
    font-size: 2.25rem;
    color: #ffffff;

    margin-bottom: 25px;
    text-align: center;
}
.section5_hdr2{
    font-size: 1.3125rem;
    margin-top: 75px;
    text-align: left;
    color:#ffffff;
}
.section5_text{
    text-align: center;
    margin-top: 50px;
    color:#ffffff;
    font-size: 1.5rem;
}
.section6{
    padding-top: 100px;
    padding-bottom: 120px;
    background: -moz-linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    background: -webkit-linear-gradient(to right, #005fea 0%,#01c1fb 100%);
    background: linear-gradient(to right, #005fea 0%,#01c1fb 100%);
}
.underline{
    text-decoration: underline;
}
.section6_content{
    width:800px;
    margin: 0 auto;
}
.section6_content img{
    margin: 0 auto;
    display: block;
    width: 100px;
}
.section6_header2{
    font-size: 1.3125rem;
    padding: 0 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.contact_form input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 330px;
    vertical-align: bottom;
    font-size: 1rem;
    height: 50px;
    outline: none;
    text-indent: 25px;
    border-radius: 5px;
    border: 1px solid grey;

}
.userlist_field:focus{

}
.signup_btn{
    height: 50px;
    width: 330px;
    outline: none;
    color: #ffffff;
    background: transparent;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    border: 1px solid #ffffff;
    margin-top: 20px;
    cursor: pointer;
}
@media(min-width:1024px) and (max-width:1279px){
    .nav_bar{
        width: 960px;
    }
    .section1, .section3,  .footer_content {
        width: 960px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    .nav_bar{
        width: 80%;
    }
    .section1, .section3, .footer_content,.section4_content,.section6_content,.section1_content,.section2_content ,.section5_content {
        width: 80%;
    }
    .section1_header1 {
        font-size: 3rem;}

    .section3_content ul li {
        width: 50%;
        padding: 0 30px;
        display: flex;
    }
    .section5_content ul li {
        width: 50%;
    }
    .userlist_field {
       width: 400px;
    }
    .team_member1 {
        width: 100%;

    }
}



@media(min-width:600px) and (max-width:767px){
    .nav_bar{
        width: 80%;
    }
    .section1, .section3, .footer_content,.section4_content,.section6_content,.section1_content,.section2_content ,.section5_content {
        width: 80%;
    }
    .section1_header1 {
        font-size: 2.5rem;}

    .section3_content ul li {
        width: 50%;
        padding: 0 30px;
        display: flex;
    }
    .team_member1 {
        width: 100%;

    }
    .userlist_field {
        width: 400px;
    }
    .section2_content ul{
        display: block;
    }
    .section2_content ul li {
        margin-top: 27px;
        width: 100%;
    }
    .section3_content ul{
        display: block;

    }
    .section3_content ul li {
        margin-top: 27px;
        width: 100%;
    }
    .section5 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .section5_hdr1 {
        font-size: 1.5rem;
    }
    .section6_content img {

        margin-bottom: 25px;
    }
    .section3_hdr1 {

        font-size: 1.5rem;
    }
    .section6_header2 {
        font-size: 1rem;
    }
    .userlist_field {
        width: 339px;
    }
    .section5_content ul
    {
        display: block;
    }
    .section5_content ul li {
        width: 100%;
        margin-top: 30px;
    }
    .signup_btn {

        margin-top: 25px;
    }
}
@media(min-width:425px) and (max-width:599px){
    .nav_bar{
        width: 80%;
    }
    .section1, .section3, .footer_content,.section4_content,.section6_content,.section1_content,.section2_content ,.section5_content {
        width: 80%;
    }
    .section1_header1 {
        font-size: 2.5rem;}

    .section3_content ul li {
        width: 50%;
        padding: 0 30px;
        display: flex;
    }

    .userlist_field {
        width: 400px;
    }
    .section2_content ul{
        display: block;
    }
    .section2_content ul li {
        margin-top: 27px;
        width: 100%;
        padding: 0 15px;
    }
    .section3_content ul{
        display: block;

    }
    .section3_content ul li {
        margin-top: 27px;
        width: 100%;
        padding: 0 15px;
    }
    .section5 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .section5_hdr1 {
        font-size: 1.5rem;
    }
    .section6_content img {

        margin-bottom: 25px;
    }
    .section3_hdr1 {

        font-size: 1.5rem;
    }
    .section6_header2 {
        font-size: 1rem;
    }
    .userlist_field {
        width: 339px;
    }
    .section5_content ul
    {
        display: block;
    }
    .section5_content ul li {
        width: 100%;
        margin-top: 30px;
        padding: 0 15px;
    }
    .section3_para1 {

        font-size: 1rem;

    }
    .section5_para1 {

        font-size: 1rem;

    }
    .section5_text {

        margin-top: 25px;

        font-size: 1.25rem;
    }
    .team_member1 {
        width: 100%;
        padding: 20px;
    }
    .signup_btn {

        margin-top: 25px;
    }
    .section2_header1 {

        font-size: 2rem;
    }
    .section2_para1 {

        font-size: 1rem;
    }
}
@media (max-width:424px){
    .form_center {
        width: 300px;
        margin: 0 auto;
    }
    .nav_bar{
        width: 80%;
    }
    .section1_content {

        height: 60vh;
    }
    .section1, .section3, .footer_content,.section4_content,.section6_content,.section1_content,.section2_content ,.section5_content {
        width: 80%;
    }
    .section1_header1 {
        font-size: 2.5rem;}

    .section3_content ul li {
        width: 50%;
        padding: 0 30px;
        display: flex;
    }

    .userlist_field {
        width: 400px;
    }
    .section2_content ul{
        display: block;
    }
    .section2_content ul li {
        margin-top: 27px;
        width: 100%;
        padding: 0 15px;
    }
    .section3_content ul{
        display: block;

    }
    .section3_content ul li {
        margin-top: 27px;
        width: 100%;
        padding: 0 15px;
    }
    .section5 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .section5_hdr1 {
        font-size: 1.5rem;
    }
    .section6_content img {

        margin-bottom: 25px;
    }
    .section3_hdr1 {

        font-size: 1.5rem;
    }
    .section6_header2 {
        font-size: 1rem;
    }
    .userlist_field {
        width: 339px;
    }
    .section5_content ul
    {
        display: block;
    }
    .section5_content ul li {
        width: 100%;
        margin-top: 30px;
        padding: 0 15px;
    }
    .section3_para1 {

        font-size: 1rem;

    }
    .section5_para1 {

        font-size: 1rem;

    }
    .section5_text {

        margin-top: 25px;

        font-size: 1.25rem;
    }
    .team_member1 {
        width: 100%;
        padding: 20px;
    }
    .signup_btn {
        width: 100%;
        margin-top: 25px;
    }
    .section2_header1 {

        font-size: 2rem;
    }
    .section2_para1 {

        font-size: 1rem;
    }
    .button {
        font-size: 1rem;
        height: 51px;
        width: 100%;



        line-height: 51px;

    }
    .contact_form input {

        width: 100%;

    }
}
@media (max-width: 600px){
    .nav_bar ul li a:hover {
        color:#ffffff;
        border-bottom: 1px solid #ffffff;
    }
    .active_menu{
        color:#ffffff;
    }
    #menu{
        background: #005fea;
        width: 100%;
        padding: 10px;
        padding-top: 30px;
        color: #fff;
        font-family: arial;
        font-size: 1.5rem;
        display: none;
        position: absolute;
        top: 8px;
        /*border-radius: 5px;*/
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        right: 0;
    }
.section2,.section3,.section4,.section5{
    padding:60px 0;
}
.button{
margin-top:60px;
    }
    .recuritment_hdr {

        font-size: 1.25rem;

        margin-top: 60px;
    }
    .logo {
        max-width: 150px;
        display: inline-block;
    }
    .section4_content_hdr1 {

        padding: 12px 0;

    }
    .hero_section {

        background-position-x: center;
    }
}
@media(min-width:600px){
    #menu-button{
        display: none;
    }


}

@media (max-width:1024px){
    .socials-icons{

    }
    .footer_content{
        display: block;
        width: 100%;
        text-align: center;
    }
    .copyright{
        width:100%;
    }
    .footer_content .socials-icons ul {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .footer_content p{
        margin-top: 10px;
    }

}
