<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Skylark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/landingpage.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="styles/loader.css">
    <script>
        window.onload = function() {
            setTimeout(function() {
                $(".showbox").css("visibility", "hidden");
            }, 0);
        };
    </script>
</head>
<body ng-app="skylarkApp" ng-controller="feedController">
<div class="showbox">
    <div class="loader1">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--<div class="skylark_projectpage_container " >-->
    <!--hero section starts here-->
<div class="skylark_landing_menu ">
    <div class="logo_mobile">
        <a href="index.html"><img src="images/skylark_logo.svg" alt="Skylark logo"></a>
    </div>
    <nav class="main_menu">
        <ul class="nav_list1">
            <li>
                <a href="index.html">HOME</a>
            </li>
            <li class="active_menu">
                <a href="projects.html">PROJECTS</a>
            </li>
            <li>
                <a href="">ABOUT</a>
            </li>
            <!--<li>-->
                <!--<a href="">BLOG</a>-->
            <!--</li>-->
        </ul>
        <div class="logo">
            <a href="index.html"><img src="images/skylark_logo.svg" alt="Skylark logo" class="main_logo"></a>
        </div>
        <ul class="nav_list2">
            <li>
                <a href="contact.html">CONTACT US</a>
            </li>
            <li>
                <a href="signup.html">SIGN UP</a>
            </li>
            <li>
                <a href="signin.html">SIGN IN</a>
            </li>
        </ul>
    </nav>
    <div class="nav-toggle">
        <span class="bar-top"></span>
        <span class="bar-mid"></span>
        <span class="bar-bot"></span>
    </div>

</div>
<!--</div>-->
<div class="flex_container">
    <button class="view_profile prof_btn">View profile</button>
    <button  class="view_profile refer_btn">Refer someone</button>
</div>
<section class="skylark_feed_container" >
    <div class="user_profile  wow  fadeInDown" data-wow-delay="100ms" >
        <h3 class="skylark_customer_name" ng-hide="!fromLocal.firstname">{{fromLocal.firstname}} {{fromLocal.lastname}}</h3>
        <p class="customer_mailid" ng-hide="!fromLocal.emailid">{{fromLocal.emailid}}</p>
        <p class="customer_contact_number" ng-hide="!fromLocal.phone">{{fromLocal.phone}}</p>
        <p class="booked_project_name" ng-hide="!fromLocal.residing">{{fromLocal.residing}}</p>
        <p class="customer_id" ng-hide="!fromLocal.houseno">{{fromLocal.houseno}}</p>
    </div>

    <div class="skylark_feed_section" id="lightgallery">
        <div class="skylark_feed_section1 wow  fadeInDown" data-wow-delay="100ms">
            <h1 class="skylark_feed_section1_hdr">Royaume Project 50% Completed</h1>
            <p class="skylark_feed_section1_para"></p>
            <div class="feed_image_container">
                <div class="image_big">
                    <img src="images/feedimg1.png" alt="">
                </div>
                <div class="image_small">
                    <img src="images/feedimg2.png" alt="">
                    <img src="images/feedimg3.png" alt="">
                    <img src="images/feed_img4.png" alt="">
                </div>
            </div>
            <p class="date_updated">2 Dec, 2017</p>
        </div>



        <div class="skylark_feed_section1 wow  fadeInDown" data-wow-delay="100ms">
            <h1 class="skylark_feed_section1_hdr">New Referral Offer </h1>
            <h1 class="skylark_feed_section1_hdr">1%  off on your Sale deed on successful referral. </h1>
            <p class="skylark_feed_section1_para"></p>
            <div class="feed_image_container">
                <div class="image_big">
                    <img src="images/feedimg1.png" alt="">
                </div>
                <!--<div class="image_small">-->
                    <!--<img src="images/feedimg2.png" alt="">-->
                    <!--<img src="images/feedimg3.png" alt="">-->
                    <!--<img src="images/feed_img4.png" alt="">-->
                <!--</div>-->
            </div>
            <p class="date_updated">2 Dec, 2017</p>
        </div>


        <div class="skylark_feed_section1  wow  fadeInDown" data-wow-delay="100ms">
            <h1 class="skylark_feed_section1_hdr">New Project Launch </h1>
            <h1 class="skylark_feed_section1_hdr">Skylark North City launches 50 Villa project</h1>
            <p class="skylark_feed_section1_para"></p>
            <div class="feed_image_container">
                <div class="image_big">
                    <a class="fancybox" href="images/feedimg1.png"><img src="images/feedimg1.png" alt=""></a>
                </div>
                <!--<div class="image_small">-->
                    <!--<a class="fancybox" href="images/feedimg2.png"> <img src="images/feedimg2.png" alt=""></a>-->
                        <!--<a class="fancybox" href="images/feedimg3.png"><img src="images/feedimg3.png" alt=""></a>-->
                            <!--<a class="fancybox" href="images/feed_img4.png"> <img src="images/feed_img4.png" alt=""></a>-->
                <!--</div>-->
                <div class="image_small">
                    <img src="images/feedimg2.png" alt="">
                    <img src="images/feedimg3.png" alt="">
                    <img src="images/feed_img4.png" alt="">
                </div>
            </div>
            <p class="date_updated">2 Dec, 2017</p>
        </div>
    </div>
    <div class="referral_section wow  fadeInDown" data-wow-delay="100ms">
            <h3 class="referral_form_hdr">Referrals</h3>
         <form>
             <input type="text" only-letters-input placeholder="Name" class="referral_section_input" ng-model="referral.fname">
             <p class="error_msg" ng-show="errorReferral.fname && !referral.fname">Enter Name</p>
             <input type="text" placeholder="Email ID" class="referral_section_input" ng-class="{'error':invalidEmail && focusOutEmail,'valid_field':!invalidEmail}" ng-model="referral.email" ng-change="validateEmail(referral.email)" ng-blur="focusOutEmail=true;">
             <p class="error_msg" ng-show="invalidEmail && focusOutEmail">Invalid Email ID</p>
             <p class="error_msg" ng-show="errorReferral.email && !referral.email">Enter Email ID</p>
             <input type="text" only-number-input placeholder="Phone Number" class="referral_section_input" ng-model="referral.phone" ng-blur="focusOutPhone=true" ng-change="validatePhoneNumber(referral.phone);">
             <p class="error_msg" ng-show="errorReferral.phone && !referral.phone">Enter Phone No</p>
             <p class="error_msg" ng-show="invalidPhoneNumber && focusOutPhone && referral.phone">Enter valid Phone No</p>
            <select name="" id="" class="referral_section_select" ng-options="val as val for val in projectList" ng-model="referral.residing">
                <option value="">Projects</option>
            </select>
            <p class="error_msg" ng-show="errorReferral.residing">Select Project</p>
            <p class="error_msg" ng-show="successReferral" style="margin-top: 15px;left: 50px;color: green">Referral sent successfully</p>
            <button class="add" ng-click="sendReferral();">
                <span  ng-show="!processing">ADD</span>
                <img src="images/loader.gif" alt="Loader" ng-show="processing" class="loader">
                </button>
        </form>
    </div>
</section>
<div class="lead_form_popup_container popup1">
    <div class="lead_form_popup">
        <img src="images/close.svg" alt="close icon" class="close_icon">
        <h1 class="lead_form_hdr">Referrals</h1>
        <form>
            <div class="form_row1">
                <label>Name*</label>
                <input type="text"  only-letters-input placeholder="Name"  ng-model="referral.fname">
                <p class="error_msg2" ng-show="errorReferral.fname && !referral.fname">Enter Name</p>
            </div>

            <div class="form_row1">
                <label>Email ID*</label>
                <input type="text" placeholder="Email ID"  ng-class="{'error':invalidEmail && focusOutEmail,'valid_field':!invalidEmail}" ng-model="referral.email" ng-change="validateEmail(referral.email)" ng-blur="focusOutEmail=true;">
                <p class="error_msg2" ng-show="invalidEmail && focusOutEmail">Invalid Email ID</p>
                <p class="error_msg2" ng-show="errorReferral.email && !referral.email">Enter Email ID</p>
            </div>
            <div class="form_row1">
                <label>Phone*</label>
                <input type="text" only-number-input placeholder="Phone Number"  ng-model="referral.phone" ng-blur="focusOutPhone=true" ng-change="validatePhoneNumber(referral.phone);">
                <p class="error_msg2" ng-show="errorReferral.phone && !referral.phone">Enter Phone No</p>
                <p class="error_msg2" ng-show="invalidPhoneNumber && focusOutPhone && referral.phone">Enter valid Phone No</p>
            </div>
            <div class="form_row1">
                <label>Project*</label>
                <select  ng-options="val as val for val in projectList" ng-model="referral.residing">
                    <option value="">Projects</option>
                </select>
                <p class="error_msg2" ng-show="errorReferral.residing">Select Project</p>
            </div>
            <div class="form_row1" style="width: 100%;">

            <p class="error_msg" ng-show="successReferral" style="left:0;color: green">Referral sent successfully</p>
            </div>
            <button class="add" ng-click="sendReferral();">
                <span ng-show="!processing">ADD</span>
                <img src="images/loader.gif" alt="Loader" ng-show="processing" class="loader">
            </button>

        </form>
    </div>
</div>
<div class="lead_form_popup_container popup2">
    <div class="lead_form_popup">
        <img src="images/close.svg" alt="close icon" class="close_icon">
        <h1 class="lead_form_hdr">Your Profile</h1>
        <h3 class="skylark_customer_name" ng-hide="!fromLocal.firstname">{{fromLocal.firstname}} {{fromLocal.lastname}}</h3>
        <p class="customer_mailid" ng-hide="!fromLocal.emailid">{{fromLocal.emailid}}</p>
        <p class="customer_contact_number" ng-hide="!fromLocal.phone">{{fromLocal.phone}}</p>
        <p class="booked_project_name" ng-hide="!fromLocal.residing">{{fromLocal.residing}}</p>
        <p class="customer_id" ng-hide="!fromLocal.houseno">{{fromLocal.houseno}}</p>
        <button class="add" >SIGN OUT
        </button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<!--<script src="http://fancyapps.com/fancybox/source/jquery.fancybox.js"></script>-->
<!--<link rel="stylesheet" href="http://fancyapps.com/fancybox/source/jquery.fancybox.css">-->
<script>
    $(document).ready(function() {
        $('.refer_btn').click(function(){
            $('.popup1').css('display','block');
            $('body ').css('overflow','hidden');
        });

        $('.popup1 .close_icon').click(function(){
            $('.popup1').css('display','none');
            $('body').css('overflow','auto');
        });
        $('.prof_btn').click(function(){
            $('.popup2').css('display','block');
            $('body ').css('overflow','hidden');
        });

        $('.popup2 .close_icon').click(function(){
            $('.popup2').css('display','none');
            $('body').css('overflow','auto');
        });
        $('.nav-toggle').click(function() {
            $(this).toggleClass('opened');
            $('.main_menu').toggleClass('display_block');
        });
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true,
            callback: function(box) {
            },
            scrollContainer: null
        });
        wow.init();
        $("a").on("click touchend", function(e) {
            var el = $(this);
            var link = el.attr("href");
            window.location = link;
        });
    })
        </script>
</body>
</html>