<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/landingpage.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        window.onload = function() {
            setTimeout(function() {
                $(".showbox").css("visibility", "hidden");
            }, 0);

        };
    </script>
</head>
<body>
<div class="showbox">
    <div class="loader1">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/controller.js"></script>
<div class="signup_page_container" ng-app="skylarkApp" ng-controller="forgotPasswordController" >
    <div class="for_vertical_align">
        <div class="signup_page_wrapper">
            <div class="signup_page_container1">
                <h3 class="signup_page_txt">
                    <span class="signup_page_txt_span1">25 years</span>
                    <span class="signup_page_txt_span1">of making </span>
                    <span class="signup_page_txt_span2">Dreams</span>
                    <span class="signup_page_txt_span2">come</span>
                    <span class="signup_page_txt_span2">true</span>
                </h3>
            </div>
            <div class="signup_page_container2">
                <img src="images/close.png" alt="close icon" class="close_icon1" ng-click="toHome();">
                <form class="signin_form">
                    <h1 class="signup_hdr">
                        <span class="signup_hdr_span4">New password</span>
                    </h1>
                    <div class="form_div1 for_width">
                        <label>New Password</label>
                        <input type="Password" placeholder="Enter Password" ng-model="change.password">
                        <p class="error_msg1" ng-show="changePass.password">Password must be 8-12 characters</p>
                    </div>
                    <div class="form_div1 for_width">
                        <label>Confirm Password</label>
                        <input type="Password" placeholder="Confirm Password" ng-model="change.repassword">
                        <p class="error_msg1" ng-show="changePass.repassword">Password doesn't match</p>
                    </div>
                    <button class="signin_btn" ng-click="changePassword();">RESET</button>

                </form >

            </div>
        </div>
    </div>
</div>
</body>
</html>