<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Skylark Mansions - Premium Residential Projects in Bangalore</title>
    <meta name="description" content="Buy 2 bhk flats in Bangalore, 3 bhk flats in Bangalore, 4 bhk and 5 bhk Flats, Penthouses and Villas in Bangalore at the best of localities with world class amenities.  Enquire now">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/landingpage.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>
<body>
<div class="skylark_projectpage_container"  ng-app="skylarkApp" ng-controller="contactUsController">
    <!--hero section starts here-->
<div id="header">

</div>
    <section class="projects_hero_section1">
        <div class="hero_container">
        <div class="hero_container1">
            <h2 class="project_page_hdr">
                <span class="project_page_hdr_span1 wow animated fadeInDown" data-wow-delay="150ms"> 25 years</span>
                <span class="project_page_hdr_span1  wow animated fadeInDown" data-wow-delay="250ms">of making</span>
                <span class="project_page_hdr_span2  wow animated fadeInDown" data-wow-delay="350ms">Dreams</span>
                <span class="project_page_hdr_span2 wow animated fadeInDown" data-wow-delay="450ms">come</span>
                <span class="project_page_hdr_span2 wow animated fadeInDown" data-wow-delay="550ms">true</span>
            </h2>
        </div>
        <!--<div class="hero_container2">-->
            <!--<img src="images/360deg.png" alt="img_360" class="img_360">-->
            <!--<img src="images/gallery.png" alt="Gallery">-->
        <!--</div>-->
        <div class="hero_container3 wow animated fadeInDown" data-wow-delay="150ms">
            <div class="hero_container3a" >
            <h3 class="form_hdr">Send Details to know more</h3>
            <form class="skylark_lead_form">
                <input type="text" class="input1" placeholder="Name*" ng-model="contact.name">
                <input type="number" class="input1" placeholder="Phone Number*" ng-model="contact.mobileNumber">
                <input type="email" class="input1" placeholder="Email ID*" ng-model="contact.email">
                <textarea class="textarea1" placeholder="Message" ng-model="contact.message"></textarea>
                <!--<button class="submit_button1">SUBMIT</button>-->
                <button class="submit_button1" ng-click="toContact('FromProjectPage');">
                    <img src="images/loader.gif" alt="Loader" ng-show="processing" class="loader">
                    <span ng-show="!processing">SUBMIT</span>
                </button>
            </form>
            </div>

        </div>
        </div>


    </section>
    <section class="skylark_project_container parallax ">

        <h1 class="all_projects_hdr wow animated fadeInDown" data-wow-delay="100ms">ONGOING  PROJECTS</h1>
        <div class="projects parallaxsub">
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_royaume_project_img.png" alt="Skylark royaume">

            </div>
            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">01</span>
                    <span class="projectname_hdr_span2">/Skylark Royaume</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Royaume</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2 and 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">615 - 1533 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Near Electronic City, Off Hosa Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">7.5 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="650ms"><a href="skylark_dasos.html">Load More Details <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
        </div>

        <div class="projects parallaxsub">
            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">02</span>
                    <span class="projectname_hdr_span2">/ Skylark Ithaca</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Ithaca</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2 and 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">605 – 3060 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Medahalli-Belathur Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">20 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark_dasos.html">Load More Details<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_ithaca.png" alt="Skylark ithaca">
            </div>
        </div>
        <div class="projects parallaxsub">
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_royaume.png" alt="Skylark royaume">
            </div>

            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">03</span>
                    <span class="projectname_hdr_span2">/ Skylark Arcadia Phase II</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="200ms">Skylark Arcadia Phase II</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">4 & 5 Bedroom Villas</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">2888 - 6877 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Near Hoodi Junction, Whitefield</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">18 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms">
                    <a href="skylark_dasos.html">Load More Details<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </p>
            </div>

        </div>
        <div class="load_more"><span>LOAD MORE</span></div>
    </section>
    <section class="skylark_project_container parallax ">
        <h1 class="all_projects_hdr wow animated fadeInDown" data-wow-delay="100ms">COMPLETED  PROJECTS</h1>
        <div class="projects parallaxsub">
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_arcadia.png" alt="Skylark Arcadia">
            </div>
            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">01</span>
                    <span class="projectname_hdr_span2">/Skylark Royaume</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Royaume</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2 and 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">615 - 1533 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Near Electronic City, Off Hosa Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">7.5 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark_dasos.html">Load More Details<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
        </div>

        <div class="projects parallaxsub">
            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">02</span>
                    <span class="projectname_hdr_span2">/ Skylark ESTA</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Esta</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2, 2.5, 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">605 – 3060 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Medahalli-Belathur Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">20 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark-dasos.html">Load More Details<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_esta.png" alt="Skylark Esta">
                <!--<div  data-paroller-type="background" data-paroller-direction="horizontal" data-paroller-factor="-0.1">-->

            </div>
        </div>
        <div class="projects parallaxsub">
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_royaume.png" alt="Skylark royaume">
            </div>

            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">03</span>
                    <span class="projectname_hdr_span2">/ Skylark EDEN</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Eden</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">4 & 5 Bedroom Villas</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">2888 - 6877 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Near Hoodi Junction, Whitefield</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">18 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark_dasos.html">LOAD MORE DETAILS<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
        </div>
        <div class="projects parallaxsub">
            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">04</span>
                    <span class="projectname_hdr_span2">/ Skylark ZENITH</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Zenith</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2, 2.5, 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">605 – 3060 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Medahalli-Belathur Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">20 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark_dasos.html">LOAD MORE DETAILS<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_ithaca.png" alt="Skylark ithaca">
            </div>
        </div>
        <div class="load_more"><span>LOAD MORE</span></div>
    </section>

    <section class="skylark_project_container parallax ">

        <h1 class="all_projects_hdr wow animated fadeInDown" data-wow-delay="100ms">UPCOMING  PROJECTS</h1>
        <div class="projects parallaxsub">
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_dasos.png" alt="Skylark Dasos">
            </div>
            <div class="project_container2 ">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">01</span>
                    <span class="projectname_hdr_span2">/Skylark DASOS</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Dasos</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400ms">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2 and 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">615 - 1533 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Near Electronic City, Off Hosa Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">7.5 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark_dasos.html">LOAD MORE DETAILS<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
        </div>

        <div class="projects parallaxsub">
            <div class="project_container2">
                <h1 class="projectname_hdr wow animated fadeInUp" data-wow-delay="200ms">
                    <span class="projectname_hdr_span1">02</span>
                    <span class="projectname_hdr_span2">/  Skylark RICHMOND</span>
                </h1>
                <h2 class="project_name wow animated fadeInUp" data-wow-delay="300ms">Skylark Richmond</h2>
                <div class="project_details wow animated fadeInUp" data-wow-delay="400">
                    <div class="project_details_container1">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Type :</h4>
                            <p class="project_details1_para">1, 2, 2.5, 3 BHK & Penthouses</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Area Range :</h4>
                            <p class="project_details1_para">605 – 3060 sq ft.</p>
                        </div>
                    </div>
                    <div class="project_details_container2">
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Location :</h4>
                            <p class="project_details1_para">Medahalli-Belathur Road</p>
                        </div>
                        <div class="project_details1">
                            <h4 class="project_details1_hdr">Project Area:</h4>
                            <p class="project_details1_para">20 Acres</p>
                        </div>
                    </div>
                </div>
                <p class="view_projects wow animated fadeInUp" data-wow-delay="450ms"><a href="skylark_dasos.html">LOAD MORE DETAILS<i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
            <div class="project_container1 wow animated fadeInUp" data-wow-delay="100ms">
                <img src="images/skylark_richmond.png" alt="Skylark Richmond">
            </div>
        </div>
        <div class="load_more"><span>LOAD MORE</span></div>
    </section>
    <section class="footer" id="dynamic_footer">
    </section>
    <!--lead form popup starts here-->
    <div class="lead_form_popup_container">
        <div class="lead_form_popup">
            <img src="images/close.png" alt="close icon" class="close_icon">
            <h1 class="lead_form_hdr">Send Details to know more</h1>
            <form>
                <div class="form_row1">
                    <label>Name*</label>
                    <input type="text" placeholder="John" ng-model="contact.name">
                </div>

                <div class="form_row1">
                    <label>Phone Number*</label>
                    <input type="text" placeholder="+91 9916357893" ng-model="contact.mobileNumber">
                </div>
                <div class="form_row1">
                    <label>Email ID*</label>
                    <input type="text" placeholder="john@gmail.com" ng-model="contact.email">
                </div>
                <div class="form_row1">
                    <label>Message</label>
                    <textarea ng-model="contact.message">
                    </textarea>
                </div>
                <button class="submit_button1" ng-click="toContact('FromProjectPage');">
                    <img src="images/loader.gif" alt="Loader" ng-show="processing" class="loader">
                    <span ng-show="!processing">SUBMIT</span>
                </button>

            </form>
        </div>
    </div>
    <!--lead form popup ends here-->
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<script>
    $(document).ready(function() {
        $("#dynamic_footer").load("footer.html");
        $("#header").load("header.html");
        $('.load_more').click(function() {
            $('.lead_form_popup_container').css('display', 'block');
            $(body).css('overflow', 'hidden');
        });

        $('.close_icon').click(function() {
            $('.lead_form_popup_container').css('display', 'none');
            $(body).css('overflow', 'auto');
        });
        $('.nav-toggle').click(function() {
           $(this).toggleClass('opened');
            $('.main_menu').toggleClass('display_block');
        });
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true,
            callback: function(box) {
            },
            scrollContainer: null
        });
        wow.init();
    });
</script>

</body>

</html>