<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/landingpage.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/controller.js"></script>
<div class="signup_page_container" ng-app="skylarkApp" ng-controller="forgotPasswordController">
    <div class="for_vertical_align">
        <div class="signup_page_wrapper">
            <div class="signup_page_container1">
                <h3 class="signup_page_txt">
                    <span class="signup_page_txt_span1">25 years</span>
                    <span class="signup_page_txt_span1">of making </span>
                    <span class="signup_page_txt_span2">Dreams</span>
                    <span class="signup_page_txt_span2">come</span>
                    <span class="signup_page_txt_span2">true</span>

                </h3>
            </div>
            <div class="signup_page_container2">
                <img src="images/close.png" alt="close icon" class="close_icon1" ng-click="toHome();">
                <form class="signin_form">
                    <h1 class="signup_hdr">
                        <span class="signup_hdr_span4">Forgot password</span>
                    </h1>
                    <div class="forgot_pswd_msg">
                        <p> Please enter your email address to retreive password.</p>
                        <p>We will email you a link to rest your password. </p>
                    </div>
                    <div class="form_div1 for_width">
                        <label>Email ID</label>
                        <input type="email" placeholder="john@gmail.com" ng-model="forgot.email" ng-change="validateEmail(forgot.email);">
                        <p class="error_msg1" ng-show="errorField.validEmail">Enter Valid Email ID</p>
                        <p class="error_msg1" ng-show="notRegistered">Email not registered with us</p>
                        <p class="error_msg1" ng-show="successForgot">Forgot password link send on your registered email</p>
                    </div>
                    <button class="signin_btn" ng-click="getForgotPasswordLink();">SEND</button>
                </form >

            </div>
        </div>
    </div>
</div>
</body>
</html>