<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/landingpage.css">
    <link rel="stylesheet" href="styles/loader.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        window.onload = function() {
            setTimeout(function() {
                $(".showbox").css("visibility", "hidden");
            }, 0);

        };
    </script>
</head>
<body>
<div class="showbox">
    <div class="loader1">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<div class="signup_page_container" >
    <div class="for_vertical_align">
        <div class="signup_page_wrapper">
            <div class="signup_page_container1">
                <h3 class="signup_page_txt">
                    <span class="signup_page_txt_span1">25 years</span>
                    <span class="signup_page_txt_span1">of making </span>
                    <span class="signup_page_txt_span2">Dreams</span>
                    <span class="signup_page_txt_span2">come</span>
                    <span class="signup_page_txt_span2">true</span>

                </h3>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="js/controller.js"></script>
            <div class="signup_page_container2" ng-app="skylarkApp" ng-controller="signInController">
                <img src="images/close.svg" alt="close icon" class="close_icon1" ng-click="goBack();">
                <form class="signin_form">
                    <h1 class="signup_hdr">
                        <span class="signup_hdr_span3"><a href="signup.html">NEW USER</a></span><span class="signup_hdr_span2">or</span><span class="signup_hdr_span1">EXISTING USER</span>
                    </h1>

                    <div class="form_div1 for_width">
                        <label>Email ID</label>
                        <input type="email" placeholder="john@gmail.com" ng-model="signInObj.email">
                        <p class="error_msg1" ng-show="signInError.email">Enter Valid Email Id</p>
                    </div>
                    <div class="form_div1 for_width">
                        <label>Password</label>
                        <input type="password" placeholder="Enter your password" ng-model="signInObj.password">
                        <p class="error_msg1" ng-show="signInError.password && !signInObj.password">Enter Password</p>
                        <p class="error_msg1" ng-show="showLoginError" style="margin-top:15px; ">{{errorMsg}}</p>
                    </div>

                    <button class="signin_btn" ng-click="signIn();">
                        <span ng-show="!signinLoader">SIGN IN</span>
                        <img src="images/loader.gif" alt="Loader" ng-show="signinLoader" class="loader">
                    </button>
                    <p class="forgot_password"><a href="reset_password.html">Forgot password?</a></p>
                </form >

            </div>
        </div>
    </div>
</div>
</body>
</html>