<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/landingpage.css">
</head>
<body>
<div class="signup_page_container" >
    <div class="for_vertical_align">
        <div class="signup_page_wrapper">
            <div class="signup_page_container1">
                <h3 class="signup_page_txt">
                    <span class="signup_page_txt_span1">25 years</span>
                    <span class="signup_page_txt_span1">of making </span>
                    <span class="signup_page_txt_span2">Dreams</span>
                    <span class="signup_page_txt_span2">come</span>
                    <span class="signup_page_txt_span2">true</span>

                </h3>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="js/controller.js"></script>
            <div class="signup_page_container2" ng-app="skylarkApp" ng-controller="signInController">
                <img src="images/close.png" alt="close icon" class="close_icon1" ng-click="toHome();">
                <form class="signin_form">
                    <h1 class="signup_hdr">
                        <span class="signup_hdr_span3"><a href="signup.html">SIGN UP</a></span><span class="signup_hdr_span2">or</span><span class="signup_hdr_span1">sign in</span>
                    </h1>

                    <div class="form_div1 for_width">
                        <label>Email ID</label>
                        <input type="email" placeholder="john@gmail.com" ng-model="signInObj.email">
                        <p class="error_msg1" ng-show="signInError.email || true">Enter Valid Email Id</p>
                    </div>
                    <div class="form_div1 for_width">
                        <label>Password</label>
                        <input type="password" placeholder="Enter your password" ng-model="signInObj.password">
                        <p class="error_msg1" ng-show="signInError.password">Enter Password</p>
                        <p class="error_msg1" ng-show="showLoginError">{{errorMsg}}</p>
                    </div>

                    <button class="signin_btn" ng-click="signIn();">SIGN IN</button>
                    <p class="forgot_password"><a href="reset_password.html">Forgot password?</a></p>
                </form >

            </div>
        </div>
    </div>
</div>
</body>
</html>