<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skylark Dasos - Ultra Luxury 2bhk and 3bhk apartments at Hennur</title>
    <meta name="description" content="Choose from Penthouses in Hennur, 2 bhk Flats in Hennur, 3 bhk Flats in Hennur and 4 bhk Flats in Hennur, Bangalore with the best of amenities. Enquire now">
    <meta name="keywords" content="skylark Dasos">
    <!-- OG tag-->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Skylark Dasos - Ultra Luxury 2bhk and 3bhk apartments at Hennur">
    <meta property="og:description" content="Choose from Penthouses in Hennur, 2 bhk Flats in Hennur, 3 bhk Flats in Hennur and 4 bhk Flats in Hennur, Bangalore with the best of amenities. Enquire now">
    <meta property="og:url" content="http://www.skylarkmansions.com/residential-projects/skylark-royaume/">
    <meta property="article:publisher" content="https://www.facebook.com/skylarksocial/">
    <!-- OG tag-->
    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SkylarkMansion">
    <meta name="twitter:title" content="Skylark Dasos - Ultra Luxury 2bhk and 3bhk apartments at Hennur">
    <meta name="twitter:description" content="Choose from Penthouses in Hennur, 2 bhk Flats in Hennur, 3 bhk Flats in Hennur and 4 bhk Flats in Hennur, Bangalore with the best of amenities. Enquire now">
    <meta name="twitter:image" content="http://www.skylarkmansions.com/img/projects/royaume/slide2.jpg">
    <!-- twitter card -->
    <link rel="stylesheet" href="styles/project.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="styles/loader.css">
    <script>
        window.onload = function() {
            setTimeout(function() {
                $(".showbox").css("visibility", "hidden");
            }, 0);

        };
    </script>
</head>
<body  ng-app="skylarkApp" ng-controller="contactUsController">
<div class="showbox">
    <div class="loader1">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

<div class="skylark_project_details" >
    <div class="skylark_main_menu">
        <div class="skylark_menu">
            <div class="logo_mobile">
                <a href="index.html"><img src="images/skylark_logo.svg" alt="Skylark logo"></a>
            </div>
            <nav class="main_menu">
                <ul class="nav_list1">
                    <li>
                        <a href="index.html">HOME</a>
                    </li>
                    <li>
                        <a href="projects.html">PROJECTS</a>
                    </li>
                    <li>
                        <a href="">ABOUT</a>
                    </li>
                    <li>
                        <a href="">BLOG</a>
                    </li>
                </ul>
                <div class="logo">
                    <a href="index.html"><img src="images/skylark_logo.svg" alt="Skylark logo" class="main_logo"></a>
                </div>
                <ul class="nav_list2">
                    <li>
                        <a href="contact.html">CONTACT US</a>
                    </li>
                    <li>
                        <a href="signup.html">SIGN UP</a>
                    </li>
                </ul>
            </nav>
            <div class="nav-toggle">
                <span class="bar-top"></span>
                <span class="bar-mid"></span>
                <span class="bar-bot"></span>
            </div>
        </div>
    </div>
    <div class="submenu_container animated" id="sticker">
        <div class="submenu">
            <nav>
                <div class="mobile_menu">
                     <span class="first_section">
                     <i class="fa fa-backward" aria-hidden="true"></i>
                     </span>
                    <span class="prev_section">
                     <i class="fa fa-caret-left" aria-hidden="true"></i>
                     </span>
                    <a id="menutitle">OVERVIEW</a>
                    <span class="next_section">
                     <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </span>
                    <span class="last_section">
                     <i class="fa fa-forward" aria-hidden="true"></i>
                     </span>
                </div>
                <ul id="project_menu">
                    <li>
                        <a href="#overview" class="nav_menu1 active">OVERVIEW</a>
                    </li>
                    <li >
                        <a href="#location_Map" class="nav_menu2 ">LOCATION MAP</a>
                    </li>
                    <li >
                        <a href="#master_Plan" class="nav_menu3">MASTER PLAN</a>
                    </li>
                    <li>
                        <a href="#floor_plan"  class="nav_menu4">FLOOR PLANS </a>
                    </li>
                    <li >
                        <a href="#amenities" class="nav_menu5">AMENITIES</a>
                    </li>
                    <li>
                        <a href="#walkthrough">WALKTHROUGH</a>
                    </li>
                    <li>
                        <a href="#brochure">BROCHURE</a>
                    </li>
                    <li>
                        <a href="#development_photo">DEVELOPMENT PHOTO</a>
                    </li>
                    <!--<li>-->
                    <!--<button class="contactus_button">CONTACT US</button>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
    <div class="project_details_hero_container">
        <div class="project_details_hero_container1">
        </div>
    </div>
    <div class="oneaboveall">
        <section class="project_details_section">
            <div class="projects_section1">
                <div class="container2 wow animated fadeInLeft" data-wow-delay="300ms" >
                    <h1 class="skylark_project_name">
                        <span>Skylark </span>
                        <span>Dasos</span>
                    </h1>
                    <p class="skylark_project_para1">
                        Since its establishment in 1992, Skylark has built a rock solid reputation founded on trust, and over the years it has earned trust in plenty from clients, associates and vendors. Trust built brick by brick in the past two decades.
                    </p>
                    <div class="skylark_project_details_container">
                        <div class="container1">
                            <i class="ion-social-facebook-outline"></i>
                            <i class="ion-social-twitter-outline"></i>
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        </div>
                        <div class="skylark_project_details_container1">
                            <div class="skylark_project_details">
                                <h3  class="skylark_project_details_hdr">Type</h3>
                                <p class="skylark_project_details_para">
                                    1, 2 and 3 BHK & Penthouses.
                                </p>
                            </div>
                            <div class="skylark_project_details">
                                <h3 class="skylark_project_details_hdr">Area Range
                                </h3>
                                <p class="skylark_project_details_para">
                                    615 - 1533 sq ft.
                                </p>
                            </div>
                            <div class="skylark_project_details">
                                <h3 class="skylark_project_details_hdr">Location</h3>
                                <p class="skylark_project_details_para">
                                    Near Electronic City.
                                </p>
                            </div>
                            <div class="skylark_project_details">
                                <h3 class="skylark_project_details_hdr">Project Area:</h3>
                                <p class="skylark_project_details_para">
                                    7.5 Acres
                                </p>
                            </div>
                        </div>
                        <div class="container3 wow animated fadeInRight" data-wow-delay="300ms">
                            <div class="price_container">
                                <h3>45L</h3>
                                <h5>ONWARDS</h5>
                            </div>
                            <div class="enquiry_button_container">
                                <button class="enquire_btn">ENQUIRE NOW</button>
                                <h5 class="enquiry">TO GET DISCOUNT</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overview_container sec" id="overview" >
                <div class="overview_container1">
                    <h3 class="header1 hdr mtop">
                        OVERVIEW
                    </h3>

                    <p class="project_para1">
                        Amidst six rolling acres on Hennur Road stands Skylark Dásos, an emerald retreat in the bustle of one of Bangalore's fastest developing areas. Dásos is named after the Greek word for 'forest', and true to its name, 80% of the property features a verdant green space, 50% of which is dedicated to tree cover. In the centre of this tropical paradise, will be three towers of 1, 2 and 3BHK apartments, surrounded by a host of world-class amenities that complete the Dásos experience.
                    </p>
                </div>
            </div>
            <div class="overview sec" id="location_Map">
                <div class="overview_container wow animated fadeInLeft" data-wow-delay="300ms">
                    <div class="overview_container1">
                        <h3 class="header1 hdr mtop">
                            LOCATION
                        </h3>
                        <h5  class="header2">
                            PROXIMITY
                        </h5>
                        <ul>
                            <li class="project_para1">
                                1 km proximity from Value Mall
                            </li>
                            <li class="project_para1">
                                4 kms to Manyata Tech Park
                            </li>
                            <li class="project_para1">
                                6 kms to Hebbal flyover
                            </li>
                            <li class="project_para1">
                                7 kms from Columbia Asia Hospital
                            </li>
                            <li class="project_para1">
                                Various schools like NPS, DPS, Vidyashilp, withing close proximity of 5-15kms radius.
                            </li>
                        </ul>
                    </div>
                    <div class=" wow animated fadeInRight" data-wow-delay="300ms">
                        <h3 class="header2">
                            <span>AT THE HEART OF</span>
                            <span>NEW URBAN LIVING</span>
                        </h3>
                        <div id="map">
                            <iframe width="100%" height="100%" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=kylark+Royaume,+Hosa+Road,+Near+E-City,+Bangalore.&key=AIzaSyD6NAnCIgbpffq4baL20YQzdjrBm2Umijs" allowfullscreen></iframe>
                        </div>
                        <div class="project_location">
                            <p class="address_line">Skylark Dásos,</p>
                            <p class="address_line">SY No. 17/2, 18/1, 18/2 and SY No. 20,</p>
                            <p class="address_line">Kyalasanahalli Village,</p>
                            <p class="address_line"> Hennur Road, KR Puram Hobli, Bengaluru.</p>
                            <p class="address_line">  Mobile : 080 4655 4655</p>
                            <p class="address_line"> Mail Us: sales@skylarkmansions.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overview_container  sec" id="master_Plan">
                <div class="overview_content wow animated fadeInLeft" data-wow-delay="300ms" >
                    <h3 class="header1 hdr mtop">
                        MASTER PLAN
                    </h3>
                    <h5  class="header2">
                        PRO
                    </h5>
                    <p class="project_para1">
                        Inspired by the French word for ‘kingdom’, Skylark Royaume has taken the ‘comfort of home’ a notch higher. Because the only way to live life, is king-size.
                    </p>
                </div>
                <div class="overview_container wow animated fadeInRight" data-wow-delay="300ms"  style=" padding: 25px 0 0 0;">
                    <div class="overview_container1">
                        <img src="images/walkthrough_image.png" alt="" class="walkthrough_image">
                    </div>
                </div>
            </div>
            <div class="development_photos_container sec" id="floor_plan">
                <div class="carousel_container1 wow animated fadeInLeft" data-wow-delay="300ms" >
                    <h3 class="header1 hdr mtop" >
                        FLOOR PLAN
                    </h3>
                    <!--<div style="display: flex;">-->
                    <!--<span class="leftarrrow" ><img src="images/left arrow.png" alt=""></span>-->
                    <!--<span class="rightarrrow"><img src="images/right arrow.png" alt=""></span>-->
                    <!--</div>-->
                </div>
                <div class="slick_carousel_container wow animated fadeInRight" data-wow-delay="300ms" >
                    <div class="carousel">
                        <img src="images/Tower A.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                    </div>
                </div>
            </div>
            <div class="development_photos_container sec" id="amenities">
                <div class="carousel_container1 wow animated fadeInLeft" data-wow-delay="300ms" >
                    <h3 class="header1 hdr mtop" >
                        AMENITIES
                    </h3>
                    <!--<div style="display: flex;">-->
                    <!--<span class="leftarrrow" ><img src="images/left arrow.png" alt=""></span>-->
                    <!--<span class="rightarrrow"><img src="images/right arrow.png" alt=""></span>-->
                    <!--</div>-->
                </div>
                <div class="slick_carousel_container wow animated fadeInRight" data-wow-delay="300ms" >
                    <ul class="amenities">
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Children’s Play Area</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Fully Equipped Gym</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Cycling Track</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Billiard Tables</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Table Tennis</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Steam & Sauna</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Library / Reading Room</p>
                        </li>
                        <li>
                            <img src="images/cycling.png" alt="">
                            <p class="amenities_name">Olympic Swimming Pool</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="overview sec" id="walkthrough">
                <div class="overview_container wow animated fadeInLeft" data-wow-delay="300ms">
                    <div class="overview_container1">
                        <h3 class="header1 hdr mtop">
                            WALKTHROUGH
                        </h3>
                        <ul>
                            <li class="project_para1">
                                Inspired by the French word for ‘kingdom’, Skylark Royaume has taken the ‘comfort of home’ a notch higher. Because the only way to live life, is king-size.
                            </li>
                        </ul>
                    </div>
                    <div class="overview_img " style="padding-bottom: 0">
                        <iframe width="100%" height="468" src="https://www.youtube.com/embed/q0Ngszo9K4k?enablejsapi=1" frameborder="0" allowfullscreen id="autoplay-video">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="brochure_container wow animated fadeInLeft sec" data-wow-delay="300ms" id="brochure">
                <div class="brochure_container2 ">
                    <h3 class="header1 hdr mtop">BROCHURE</h3>
                    <ul>
                        <li class="project_para1">They say one’s home is a castle.</li>
                        <li class="project_para1">But, for the select few, it can be a kingdom.</li>
                    </ul>
                    <button class="brochure_dwnld">DOWNLOAD</button>
                </div>
                <!--<div class="brochure_container1 ">-->
                <!--<img src="images/skylark_royaume_img.png" alt="Skylark royaume">-->
                <!--</div>-->
            </div>
            <div class="development_photos_container sec" id="development_photo">
                <div class="carousel_container1 wow animated fadeInLeft" data-wow-delay="300ms" >
                    <h3 class="header1 hdr mtop" >
                        DEVELOPMENT PHOTOS
                    </h3>
                    <!--<div style="display: flex;">-->
                    <!--<span class="leftarrrow" ><img src="images/left arrow.png" alt=""></span>-->
                    <!--<span class="rightarrrow"><img src="images/right arrow.png" alt=""></span>-->
                    <!--</div>-->
                </div>
                <div class="slick_carousel_container wow animated fadeInRight" data-wow-delay="300ms" >
                    <div class="carousel">
                        <img src="images/Tower A.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                        <img src="images/Tower B.png" alt="">
                    </div>
                </div>
            </div>
            <!--<div class="brochure_container wow animated fadeInLeft sec" data-wow-delay="300ms" >-->
            <!--<div class="emi_calculator_container1 ">-->
            <!--<div class="slider_container">-->
            <!--<h1 class="emical_hdr">EMI CALCULATOR</h1>-->
            <!--<div class="range-slider" ng-app="app" ng-controller="Controller">-->
            <!--<div class="extra-controls">-->
            <!--<div class="emi_cal_container">-->
            <!--<h3>Loan Amount (Rs.)</h3>-->
            <!--<div  class="emi_cal_container1">-->
            <!--<input type="text" class="js-input-from" value="0" />-->
            <!--<i class="fa fa-pencil icon1" aria-hidden="true"></i>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="range-slider">-->
            <!--<input type="text" ion-range-slider min="18" max="60" from="model.age.min" to="model.age.max" />-->
            <!--</div>-->
            <!--<div class="extra-controls">-->
            <!--<div class="emi_cal_container">-->
            <!--<h3>Payback Period</h3>-->
            <!--<div class="emi_cal_container1">-->
            <!--<input type="text" class="js-input-from1" value="0" />-->
            <!--<i class="fa fa-pencil icon2" aria-hidden="true"></i>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="range-slider">-->
            <!--<input type="text" class="js-range-slider1" value="" />-->
            <!--</div>-->
            <!--<div class="extra-controls">-->
            <!--<div class="emi_cal_container">-->
            <!--<h3>Rate of Interest (%)</h3>-->
            <!--<div class="emi_cal_container1">-->
            <!--<input type="text" class="js-input-from2" value="0" />-->
            <!--<i class="fa fa-pencil icon3" aria-hidden="true"></i>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="range-slider">-->
            <!--<input type="text" class="js-range-slider2 " value="" />-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="emi_calculator_container2 ">-->
            <!--<h1 class="emical_hdr">EMI CALCULATOR</h1>-->
            <!--<input type="text" id="emioutput" value="20,000" readonly>-->
            <!--</div>-->
            <!--</div>-->
        </section>
        <section class="sticky_form wow animated fadeInDown" data-wow-delay="150ms" id="sticky">
            <div class="hero_container3a" >
                <h3 class="form_hdr">Send Details to know more</h3>
                <form class="skylark_lead_form">
                    <input type="text" class="input1" placeholder="Name*" ng-model="contact.name" >
                    <p class="error_msg" ng-show="errorcontact.name">Enter your name</p>
                    <input type="text"  max-length="15" class="input1" placeholder="Phone Number*"  ng-model="contact.mobileNumber" >
                    <p class="error_msg" ng-show="errorcontact.phone">Enter phone number</p>
                    <input type="email" name="email" class="input1" placeholder="Email ID*"  ng-model="contact.email"  ng-change="validateEmail(contact.email)" >
                    <p class="error_msg"   ng-show="errorcontact.email"  >Enter your email id</p>
                    <textarea class="textarea1" placeholder="Message" ng-model="contact.message"></textarea>
                    <button class="submit_button1" ng-click="toContact('SkylarkDasos');">
                        <img src="images/loader.gif" alt="Loader" ng-show="processing" class="loader">
                        <span ng-show="!processing">SUBMIT</span>
                    </button>
                </form>
            </div>
        </section>
    </div>
    <section class="footer" id="dynamic_footer">
    </section>
    <!--lead form popup starts here-->
    <div class="lead_form_popup_container">
        <div class="lead_form_popup">
            <img src="images/close.svg" alt="close icon" class="close_icon">
            <h1 class="lead_form_hdr">Send Details to know more</h1>
            <form>
                <div class="form_row1">
                    <label>Name*</label>
                    <input type="text" placeholder="John" ng-model="contact.name">
                    <p class="error_msg1" ng-show="errorcontact.name">Enter your name</p>
                </div>

                <div class="form_row1">
                    <label>Phone Number*</label>
                    <input type="text" placeholder="+91 9916357893" ng-model="contact.mobileNumber">
                    <p class="error_msg1"ng-show="errorcontact.phone">Enter phone number</p>
                </div>
                <div class="form_row1">
                    <label>Email ID*</label>
                    <input type="text" placeholder="john@gmail.com" ng-model="contact.email" ng-change="validateEmail(contact.email)">
                    <p class="error_msg1"   ng-show="errorcontact.email"  >Enter your email id</p>
                </div>
                <div class="form_row1">
                    <label>Message</label>
                    <textarea ng-model="contact.message">
                    </textarea>
                </div>
                <button class="submit_button1" ng-click="toContact('FromProjectPage');">
                    <img src="images/loader.gif" alt="Loader" ng-show="processing" class="loader">
                    <span ng-show="!processing">SUBMIT</span>
                </button>

            </form>
        </div>
    </div>
    <!--lead form popup ends here-->
</div>
<!--<script type="text/javascript" src="https://emicalculator.net/wp-content/themes/emicalculator/dist/scripts/loancalculator.js?x61264"></script>-->
<script>
    $( document ).ready(function() {
        $("#header").load("header.html");
        $("#dynamic_footer").load("footer.html");
        $('.nav-toggle').click(function() {
            $(this).toggleClass('opened');
            $('.main_menu').toggleClass('display_block');
        });


        $('.brochure_dwnld,.enquire_btn').click(function(){
            $('.lead_form_popup_container').css('display','block');
            $('body ').css('overflow','hidden');
        });

        $('.close_icon').click(function(){
            $('.lead_form_popup_container').css('display','none');
            $('body').css('overflow','auto');
        });


        //for autoplaying the youtube video when its come to view
        var iframe = document.getElementById("autoplay-video"),
            disableAutoPlay = false;
        function isScrolledIntoView(el) {
            var elemTop = el.getBoundingClientRect().top,
                elemBottom = el.getBoundingClientRect().bottom,
                isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
            return isVisible;
        }
        $(window).scroll(function () {
            if (!disableAutoPlay) {
                if (isScrolledIntoView(iframe)) {
                    iframe.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
                } else {
                    iframe.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
                }
            }
        });
        // $(iframe).on("mouseleave", function () {
        //     disableAutoPlay = true;
        // });


        window.addEventListener("scroll", function (event) {
            var scroll = this.scrollY,
                left = this.scrollX;
            var distance = $('#overview').offset().top - 50,
                $window = $(window);
            if ( $window.scrollTop() >= distance ) {

                $(".submenu_container").addClass('slideInDown');
                $(".submenu_container").css("position","fixed");
                $(".submenu_container").css("margin-top","0");
            }
            if ( $window.scrollTop() < distance ) {

                $(".submenu_container").removeClass('slideInDown');
                // $(".submenu_container").addClass('slideInDown');
                $(".submenu_container").css("position","absolute");
                $(".submenu_container").css("margin-top","-52px");
            }

        }, false);

        var sections = $('.sec'),
            nav = $('nav'),
            nav_height = nav.outerHeight();

        $(window).on('scroll', function () {
            var cur_pos = $(this).scrollTop();

            sections.each(function() {
                var top = $(this).offset().top - nav_height ,
                    bottom = top + $(this).outerHeight();

                if (cur_pos >= top && cur_pos <= bottom) {
                    nav.find('a').removeClass('active');
                    sections.removeClass('active');

                    $(this).addClass('active');

                    nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
                    if(window.innerWidth<1024) {
                        $("#menutitle").text($('.active .hdr').text());
                    }
                }
            });
        });
        nav.find('a').on('click', function () {
            var $el = $(this),
                id = $el.attr('href');
            $('html, body').animate({
                scrollTop: $(id).offset().top - nav_height
            }, 500);
            return false;
        });
        $(".first_section").click(function () {
            $('html, body').animate({
                //mention first section id name here eg:#overview
                scrollTop: $("#overview").offset().top
            }, 2000);
        });
        $(".last_section").click(function () {
            $('html, body').animate({
                //mention last section id name here eg:#development_photo
                scrollTop: $("#development_photo").offset().top
            }, 2000);

        });
        //mention last section id name here eg:#development_photo
        var $curr = $( "#development_photo" );

        $( ".prev_section" ).click(function() {
            $curr = $curr.prev();
            console.log(" $curr", $curr);
            $('html, body').animate({
                scrollTop: $curr.offset().top
            }, 1000);
        });
        $( ".next_section" ).click(function() {
            $curr = $curr.next();
            $('html, body').animate({
                scrollTop: $curr.offset().top
            }, 1000);
        });


    });
</script>
</body>
</html>
